@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  padding: 0;
  margin: 0;
}

#blur {
  -webkit-filter: blur(5px);

  -moz-filter: blur(5px);

  -o-filter: blur(5px);

  -ms-filter: blur(5px);

  filter: blur(5px);
}

body {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;

  color: rgb(41, 41, 41);
  font-family: "Jost", sans-serif;
}

.card {
  max-width: 200px;
  width: 200px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #fdfbfb, #d4fcfd);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);

  transform: scale(1.5);
}

.card[data-state="#things"] {
  height: 120%;
}

.card-title {
  bottom: 4px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.card-info {
  margin: 0 10px;
  position: absolute;
  width: 100%;
  top: 26px;

  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.card-about {
  line-height: 1.6;
  color: #636b6f;
  font-size: 10px;
  margin: 0 10px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-about2 {
  line-height: 1.6;
  color: #636b6f;
  font-size: 10px;
  margin: 0 10px;
  padding: 10px 0px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-subtitle {
  font-weight: 700;
  font-size: 10px;
  margin: 4px 10px;
  margin-bottom: 6px;
}

.icons {
  margin: 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
}

.icon-btn {
  color: #fff;
  background-color: transparent;
  border: 0 #41dfff;
  cursor: pointer;
}
.skills {
  float:left;
  justify-content: center;
  align-items: center;
  text-align: center;
  clear:both;
}
.skill {
  display: both;
  padding: 2px;
  width: 120px;
  border-radius: 10px;
  font-size: 0.6rem;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.424) inset;
  margin: 0px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
#java {
  width:80%;
}
#css {
  width: 50%;
}
#js {
  width: 76%;
}
#html {
  width: 69%;
}

.card-buttons {
  display: flex;
  background-color: #d4fcfd;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}
.button {
  flex: 1 0 auto;
  background: 0;
  font-size: 10px;
  border: 0;
  padding: 6px 5px;
  cursor: pointer;
  color: #5c5c6d;
  transition: 0.3s;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
.button.is-active,
.button:hover {
  color: #2b2c48;
  border-bottom: 2px solid #8a84ff;
  background: linear-gradient(
    to bottom,
    rgba(127, 199, 231, 0) 0%,
    rgba(207, 204, 255, 0.2) 44%,
    rgba(211, 226, 255, 0.4) 100%
  );
}